extends layout.pug

block content
    section#content
        h2= text
        if hint
            p
                i Hint: #{hint}
        
        a(href=`${otherSide}`) Flip the card
        br
        a(href=`/cards`) Next card